Flask==0.12.2
Flask-Cors==3.0.2
Flask-WTF==0.14.2
fuzzywuzzy==0.15.0
gevent==1.2.1
graphviz==0.7.1
gunicorn==19.7.1
html5lib==0.999
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==0.23
Werkzeug==0.12.2
WTForms==2.1
